@using ToDo.ViewModels
@model ToDoViewModel
@{
    ViewData["Title"] = "To Do List";
}

<div class="text-center pt-5 pb-5">
    <h1 class="display-4">Welcome To My To Do List</h1>
</div>
<div class="row">
    <div class="col-12">
        <table class="table table-striped table-hover table-dark text-center">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Priority</th>
                    <th>Due Date</th>
                    <th>Completed</th>
                    <th>Details</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var todo in Model.ToDoItems)
                {
                    <tr>
                        <td class="">
                            @Html.DisplayFor(ModelItem => todo.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(ModelItem => todo.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => todo.Priority)
                        </td>
                        <td class="">
                            @Html.DisplayFor(modelItem => todo.DueDate)
                        </td>
                        <td class="custom-control custom-checkbox text-center">
                            <input type="checkbox" asp-for="@todo.Completed">
                            <input type="checkbox" class="custom-control-input disabled" asp-for="@todo.Completed">
                            @*<label class="custom-control-label disabled">
                                    <span class="sr-only">Never</span>
                                </label>*@
                        </td>
                        <td>
                            <a asp-controller="Home" asp-action="Edit" asp-route-id="@todo.Id">Modify</a>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>
